<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.css"/>-->




    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/umeditor.min.css">
    <link rel="stylesheet" href="/css/admin.css"/>

    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script  src="/js/vendor/bootstrap.js"></script>
    <script src="/js/bootstrap-datetimepicker.js"></script>
    <script src="/js/vendor/umeditor.config.js"></script>
    <script src="/js/vendor/umeditor.js"></script>
    <script src="/js/vendor/ajaxfileupload.js"></script>
    <script src="/js/admin/product.js"></script>



    <script>
        $(function(){
            var ins=new product();
            ins.init();

        })
    </script>
</head>
<body class="product">
    <div class="container">
        <div class="page-header">
            <h3>Add Product </h3>
        </div>

        <form action="add" method="post" id="form1" class="form-horizontal">


            <div class="form-group">
                <label class="control-label col-sm-2"> ProductName:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control productName " name="productName" placeholder="product name">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> ProductCode:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control productCode" name="productCode" placeholder="product code">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> ProductCategory:</label>
                <div class="col-sm-5">
                    <div class="dropdown ">
                        <button class="btn btn-default dropdown-toggle form-control category" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="tag">Category</span>
                            <span class="caret"></span>

                        </button>
                        <ul class="dropdown-menu category" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header"> Action </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                        <input type="hidden" name="productCategory"  class="productCategory">

                    </div>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> ProductPutInDate:</label>
                <div class="col-sm-5">
                    <div class="col-sm-4 input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                        <input size="16" type="text" value=" "  readonly name="productPutInDate"  class="form-control form_datetime  productPutInDate">
                    </div>
                    <label class="control-label col-sm-4"> ProductPutOutDate:</label>

                    <div class="col-sm-4 input-group date form_time " data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                        <input size="16" type="text" value=" "  name="productPutOutDate" readonly  class="form-control form_datetime productPutOutDate">
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Product Image</a></li>
                <li role="presentation" ><a href="#">Inventory</a></li>
                <li role="presentation" ><a href="#">Product Intro</a></li>
            </ul>

            <div class="tab-page">
                <div class="row">
                    <a href="#" class="thumbnail col-md-1">
                        <img src="/css/img/upload2.png"  >
                        <input type="file" id="product" name="product"  >
                    </a>

                </div>
                <div class="alert alert-danger hidden" role="alert">
                    upload only support 5 images.
                </div>
                <input type="hidden" name="imgURL" class="imgURL">
            </div>


            <div class="tab-page hidden">

                <div class="form-group">
                    <label class="control-label col-sm-2"> InventoryStatus:</label>
                    <div class="col-sm-5">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle category" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="tag">Enable</span>
                                <span class="caret"></span>
                                <input type="radio" class="hidden rdoStats" name="rdoStats" />
                            </button>
                            <ul class="dropdown-menu category" aria-labelledby="dropdownMenu1">
                                <li ><a href="#" status="1">Enable</a>  </li>
                                <li><a href="#" status="0">Disable</a>   </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2"> InventoryInitialCount:</label>
                    <div class="col-sm-5">
                        <input type="text" name="InventoryInitCount" class="form-control initialCount" placeholder="InventoryInitialCount">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2"> InventoryCount:</label>
                    <div class="col-sm-5">
                        <input type="text" name="InventoryCount" class="form-control inventoryCount" placeholder="InventoryCount">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2"> WarnCount:</label>
                    <div class="col-sm-5">
                        <input type="text" name="warnCount" class="form-control inventoryWarnCount" placeholder="WarnCount">
                    </div>
                </div>


            </div>


            <div class="tab-page hidden">
                <script type="text/plain" id="myEditor"   ></script>
                <input type="hidden" name="productIntro" class="productIntro"/>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-5 text-right">

                    <input type="submit" class="btn btn-primary btnSave" value="Save">


                    <input type="submit" class="btn btn-primary" value="Clear">

                </div>
            </div>


        </form>
    </div>
</body>
</html>