<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="description" content=""  charset="utf-8">
    <!-- 公用meta & css -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta charset="utf-8">
    <!-- 公用css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <div>
        <ul>
            <li>
                <span>用户名:</span>
                <input type="text" class="form_control"/>
            </li>
        </ul>
    </div>

</body>
</html>