<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="description" content=""  charset="utf-8">
    <!-- 公用meta & css -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <meta charset="utf-8">
    <!-- 公用css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script type="text/javascript" src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="/js/admin/login.js"></script>

</head>
<body class="login">

    <div class="container form">
        <form action="/admin/login" method="post">


        <h2>Sign in</h2>
        <p>
            <input placeholder="username" class="form-control txtName" name="name"  type="text">
        </p>
        <p>
            <input placeholder="password" class="form-control txtPwd" name="password" type="password">
        </p>

        <p class="col-xs-6">
            <input placeholder="code" class="form-control txtCode" type="text"  >
        </p>

        <input class="btn btn-lg btn-primary btn-block" value="Login" type="button">

        </form>
    </div>




</body>
</html>