<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="/css/admin.css"/>

    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script  src="/js/vendor/bootstrap.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#btnSearch').click(function(){

                var key=$('#txtKey').val();
                if(key.trim().length>0){
                    location.replace('/admin/product/?key='+key.trim());
                }
            });
        })
    </script>

</head>
<body class="product_list">
    <div class="container">
        <div class="page-header">
            <h3>  Product </h3>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <a href="/admin/product/addproduct">Add</a>
            </button>

        </div>


        <div class="panel panel-default">

            <div class="panel-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtKey" placeholder="Search for...">
                              <span class="input-group-btn">
                                <button class="btn btn-default" id="btnSearch" type="button">Go!</button>

                              </span>
                        </div><!-- /input-group -->


                    </div>

                    <div class="col-md-6">
                        <span class="label label-warning pull-right">InventoryWarning</span>
                    </div>


                </div>
            </div>


             </div>

            <table class="table table-condensed ">
               <thead  class="text-center">
                   <th>ProductName</th>
                   <th>ProductCode</th>
                   <th>ProductPutInDate</th>
                   <th>ProductPutOutDate</th>
                   <th>State</th>
               </thead>

                <%for(var i in arr){%>
                    <tr>
                        <td><%=arr[i].productName%></td>
                        <td><%=arr[i].productCode%></td>
                        <td><%=arr[i].putIn%></td>
                        <td><%=arr[i].putOut%></td>
                        <td>

                            <%if(arr[i].status){%>
                            <a class="btn btn-success">published</a>
                            <%}else{%>
                            <a class="btn btn-danger">draft</a>
                            <%}%>
                            <a class="btn btn-warning">modify</a>
                            <a class="btn btn-primary">delete</a>
                        </td>
                    </tr>
                <%}%>

            </table>
        </div>
        <%if(pager.length>0){%>
        <div class="pull-right">
            <ul class="pagination ">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <%for(var item in pager){%>
                <li><a href="/admin/product/?pageValue=<%=pager[item].key%>&cur=<%=pager[item].num%> "><%=pager[item].num%></a></li>
                <%}%>


                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <%}%>
    </div>
</body>
</html>