<!doctype html>
<html lang="zh-CN">
<head>
	<title>  </title>
	<meta name="description" content=""  charset="utf-8">
	<!-- 公用meta & css -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="telephone=no" name="format-detection" />
	<meta charset="utf-8">
	<!-- 公用css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main.css?2.0">
	<!-- <link type="text/css" rel="stylesheet" href="/css/jquery.mmenu.all.css" /> -->
	<style>
		html {
			-ms-touch-action: none;
		}
	</style>
	<script>
		document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
	</script>
</head>


<body style="overflow:hidden;">
	<!-- <nav id="menu">
		<div> -->
	<div class="typeTag" id="typeTag">
		<div id="typeWrap">
			<ul>
				<li><a href="javascript:void(0)" rel="all" class="active">全部</a></li>
				<li><a href="javascript:void(0)" rel="type1">类型一类型一类型一类型一类型一类型一类型一</a></li>
				<li><a href="javascript:void(0)" rel="type2">类型二</a></li>
				<li><a href="javascript:void(0)" rel="type3">类型二</a></li>
				<li><a href="javascript:void(0)" rel="type4">类型四</a></li>
				<li><a href="javascript:void(0)" rel="type5">类型五</a></li>
				<li><a href="javascript:void(0)" rel="type6">类型六</a></li>
				<li><a href="javascript:void(0)" rel="type7">类型七</a></li>
				<li><a href="javascript:void(0)" rel="type8">类型八</a></li>
				<li><a href="javascript:void(0)" rel="type7">类型七</a></li>
				<li><a href="javascript:void(0)" rel="type8">类型八</a></li>
				<li><a href="javascript:void(0)" rel="type7">类型七</a></li>
				<li><a href="javascript:void(0)" rel="type8">类型八</a></li>
			</ul>
		</div>
	</div>
		<!-- </div>
	</nav> -->
	<!-- <div id="page"> -->
		<div class="index-header">
			<div class="search-bar">
				<a href="javascript:void(0)" class="menu-oc"></a>
				<ul>
					<li><input placeholder="输入产品或者硒鼓墨盒型号" class="searchTxt"></li>
					<!-- <li><button type="button" class="btn btn-default btn-block">确定</button>
	                    <input type="button" />
	                </li> -->
				</ul>
			</div>
			<!-- <div class="catalog">
				<ul>
					<li>全部</li>
					<li class="active">硒鼓</li>
					<li>墨盒</li>
				</ul>
			</div> -->
		</div>
		<div id="nav-layer"></div>
		<div class="index-wrapper" id="index-wrapper">
			<div id="scroller">
				<ul class="countList">
					  <li>
						<ul>
							<li><img src="../img/products/test001.jpg" alt="" border="0"></li>
							<li>
								<h3> 黑色激光打印硒鼓硒鼓硒鼓硒鼓硒鼓</h3>
								<p>微信价:<span>&#65509;<b class="unitPrice">461.00</b></span></p>
								<p><a href="login.html">注册会员享受更多优惠</a></p>
								<div class="div-spinner">
									<button type="button" class="btn btn-default btn-spinner spinner-sub"></button>
									<input type="text" class="txt-spinner" value="4" readonly>
									<button type="button" class="btn btn-default btn-spinner spinner-add"></button>
								</div>
							</li>
							<li><a href="#" style="display:block; border:0;">&nbsp;</a></li>
						</ul>
					</li>

				</ul>
				<div style="clear:both;"></div>
				<div id="pullUp">
					<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span>
				</div>
			</div>
		</div>
		<div class="index-popup">
			<div class="space-8"></div>
			<p>已选: <b class="proNumber-0">1</b>&nbsp;&nbsp;&nbsp;&nbsp;总计：&#65509;<b class="total-price">461.00</b></p><button type="button" class="btn btn-default">选好了</button>
		</div>
	<!-- </div> -->
	<div class="index-footer">
		<div class="navbar">
			<ul>
				<li class="active"><a href="index.html"><span>首页</span></a></li>
				<li><a href="index.html"><span>全部产品</span></a></li>
				<li><a href="ShoppingCart.html"><span>购物车<b class="proNumber-1">1</b></span></a></li>
				<li><a href="PersonalCenter.html"><span>会员中心</span></a></li>
			</ul>
		</div>
	</div>
	<!-- 公用js -->
	<script src="/js/vendor/jquery-2.1.1.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script>

	</script>
	<!-- 本页js -->
	<script src="/js/vendor/iscroll.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/index.js?v2.0"></script>
	<script type="text/javascript" src="/js/count.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.transform2d.js"></script>

	<!-- <script type="text/javascript" src="/js/vendor/jquery.mmenu.min.all.js"></script> -->
	
	<script>
		var _page = 'index';
		
		
		$(function(){
			changeNum();
		})

	</script>
</body>
</html>