
.login{
   background-color:  #eee;
    padding:40px;
}
.login .form{
    width:300px;
}
.login h2{
    color:#428bca;
}
.login .form input{
    margin-bottom: 5px;
}

.login .col-xs-6{
    padding-left: 0px;
}

.product   .category{
    width:100%;
}
.product  .category{
    width:100%;
    text-align: left;
}

.product .tab-page
{
    border:1px solid #ddd;
    border-top: none;
    padding:15px ;
    margin-bottom: 20px;
}
.product .form_time
{
    padding-left: 0px;
    padding-right:0px;
}
.product .form_datetime
{
    border-radius:5px;
}

.product .thumbnail
{
    margin: 10px;
    padding: 5px;
}
.product .edui-container{
    width:100% !important;
}
.product input[type=file]{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
}

.product .thumbnail i{

    position: absolute;
    top: -9px;
    right: -3px;

    font-style: normal;
}

.product .form-control[readonly]{
    background-color: #fff;
    cursor: not-allowed;
}
.product .form_datetime
{
    border-radius:5px !important;
}
.product_list .label-warning {
    color:#2f4154;
    background-color: #fcf8e3;
}
.product_list .panel-heading:after{
    display: block;
    clear:both;
    content:''
}
.product_list .table .btn {
    padding:3px 12px;
}